<!DOCTYPE html>
<html>
<head>
	<title>条件渲染</title>
	<script src="https://unpkg.com/vue"></script>

</head>
<body>
	<!-- v-if  v-else 条件语句 -->
	<div id="app-1">
		<h1 v-if="ok">yes</h1>
		<h1 v-else>no</h1>
	</div>

	<!-- 在<template>元素上使用v-if条件渲染分组 -->
	<div id="app-2">
		<template v-if="ok">
			<h1>Title</h1>
			<p>Paragraph 1</p>
			<p>Paragraph 2</p>
		</template>
	</div>

	<div id="app-3">
		<div v-if="Math.random() > 0.5">
			Now you see me
		</div>
		<div v-else>
			Now you don't
		</div>
	</div>
	
	<!-- 用key管理可以复用的元素 -->
	<!-- 点击按钮不会改变input里已经输入的值，而是改变的placeholder，共用了一个input -->
	<div id="app-4">
		<template v-if="loginType === 'username'">
			<label>Username</label>
			<input placeholder="Enter your username">
		</template>
		<template v-else>
			<label>Email</label>
			<input placeholder="Enter your email">
		</template>
		<button v-on:click="toggleLoginType">Toggle login type</button>
	</div>

	<div id="app-5">
		<template v-if="loginType === 'username'">
			<label>Username</label>
			<input placeholder="Enter your username" key="username-input">
		</template>
		<template v-else>
			<label>Email</label>
			<input placeholder="Enter your email" key="email-input">
		</template>
		<button v-on:click="toggleLoginType">Toggle login type</button>
	</div>
	<!-- 
	根据条件展示元素的选项v-show，但是带有v-show的元素始终被渲染并保留在DOM中，
	只是简单的切换元素CSS属性display -->
	<h1 id="hh1" v-show="ok">Hello!</h1>

<script>
	var vm=new Vue({
		el:'#app-1',
		data:{
			ok:false
		}
	})

	var app3=new Vue({
		el:'#app-3'
	})

	var app4=new Vue({
		el:'#app-5',
		data:{
			loginType:'username'
		},
		methods:{
			toggleLoginType:function(){
				if(this.loginType==='username'){
					this.loginType=''
				}else{
					this.loginType='username'
				}
			}
		}
	})


	var hh=new Vue({
		el:'#hh1',
		data:{
			ok:false
		}
	})

</script>

</body>
</html>